<?xml version="1.0"?>
<toolbox tool_path="{{ dev_tool_conf_dir }}">
	<section id="imported" name="Imported Tools">
		<tool_dir dir="." />
	</section>
    <section id="evaluation_tools" name="Evaluation Tools">
         <tool file="/opt/galaxy/SMC-Het-Challenge/smc_het_eval/smc_het_eval.xml" />
    </section>
</toolbox>
