[program:dream_submit_server]
command         = /bin/bash -c 'export HOME=/home/{{ galaxy_user_name }}; export PATH=$PATH:/home/{{ galaxy_user_name }}/.linuxbrew/bin/; /opt/galaxy/SMC-Het-Challenge/dream_galaxy_server.py --port {{ dream_submit_port }} --keyfile /home/{{ galaxy_user_name }}/.galaxy_key'
autostart       = true
autorestart     = true
user            = {{ galaxy_user_name }}
redirect_stderr = true
