Tumour 2	/opt/galaxy/data/Tumour2/Tumour2
Tumour 3	/opt/galaxy/data/Tumour3/Tumour3
Tumour 4	/opt/galaxy/data/Tumour4/Tumour4
Tumour 6	/opt/galaxy/data/Tumour6/Tumour6
Tumour 7	/opt/galaxy/data/Tumour7/Tumour7
